# Pandas

In [2]:
import pandas as pd

In [3]:
numbers = [1, 2, 3, 4, 5]
series = pd.Series(numbers)
print(series)
print(type(series))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
dictionary = {'a':1, 'b': 2, 'c': 3, 'd': 4}
series1 = pd.Series(dictionary)
print(series1)

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
gdp = [4.18, 4.9, 19, 30.1]
country = ['India', 'Germany', 'China', 'Ameria']
print(pd.Series(data = gdp, index = country))

India       4.18
Germany     4.90
China      19.00
Ameria     30.10
dtype: float64

In [6]:
# DataFrame from a dictionary of list

data = {'Name' :['dhana', 'azzizat', 'kennady', 'ana'],
        'Country' : ['India', 'Nigeria', 'Nigeria', 'Mexico'],
        'Occupation': ['Data Scientist', 'Police' ,'Helthcare', 'Lecturare']}

df = pd.DataFrame(data)
print(df)
print(type(df))

      Name  Country      Occupation
0    dhana    India  Data Scientist
1  azzizat  Nigeria          Police
2  kennady  Nigeria       Helthcare
3      ana   Mexico       Lecturare
<class 'pandas.core.frame.DataFrame'>

In [7]:
data = [{'Name': 'Dhana', 'Country': 'India', 'Occupation': 'Data Scientist'},
        {'Name': 'Azzizat', 'Country': 'Nigeria', 'Occupation': 'Police'},
        {'Name': 'Kennady', 'Country': 'Nigeria', 'Occupation': 'Helthcare Worker'},
        {'Name': 'Ana', 'Country': 'Mexico', 'Occupation':'Lecturare'}]
df = pd.DataFrame(data)
print(df)

      Name  Country        Occupation
0    Dhana    India    Data Scientist
1  Azzizat  Nigeria            Police
2  Kennady  Nigeria  Helthcare Worker
3      Ana   Mexico         Lecturare

In [8]:
df1 = pd.read_csv('data.csv')
print(df.head())
print(df.tail())

      Name  Country        Occupation
0    Dhana    India    Data Scientist
1  Azzizat  Nigeria            Police
2  Kennady  Nigeria  Helthcare Worker
3      Ana   Mexico         Lecturare
      Name  Country        Occupation
0    Dhana    India    Data Scientist
1  Azzizat  Nigeria            Police
2  Kennady  Nigeria  Helthcare Worker
3      Ana   Mexico         Lecturare

In [9]:
print(df['Name'])

0      Dhana
1    Azzizat
2    Kennady
3        Ana
Name: Name, dtype: object

In [10]:
# Accessing specified elements

print(df.at[1, 'Name'])

Azzizat

In [11]:
print(df.at[3, 'Country'])

Mexico

In [12]:
print(df.iat[1, 2])

Police

In [13]:
# Data Manipulation

df['Salary'] = [100000, 40000, 30000, 40000]
print(df)

      Name  Country        Occupation  Salary
0    Dhana    India    Data Scientist  100000
1  Azzizat  Nigeria            Police   40000
2  Kennady  Nigeria  Helthcare Worker   30000
3      Ana   Mexico         Lecturare   40000

In [ ]:
df.drop('Salary', axis=1, inplace= True)
print(df)

      Name  Country        Occupation
0    Dhana    India    Data Scientist
1  Azzizat  Nigeria            Police
2  Kennady  Nigeria  Helthcare Worker
3      Ana   Mexico         Lecturare

In [19]:
df.drop(0, inplace=True)

In [20]:
print(df)

      Name  Country        Occupation
1  Azzizat  Nigeria            Police
2  Kennady  Nigeria  Helthcare Worker
3      Ana   Mexico         Lecturare

In [22]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      50 non-null     object
 1   Category  50 non-null     object
 2   Value     47 non-null     float64
 3   Product   50 non-null     object
 4   Sales     46 non-null     float64
 5   Region    50 non-null     object
dtypes: float64(2), object(4)
memory usage: 2.5+ KB
None

In [24]:
print(df1.dtypes)

Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

In [25]:
print(df1.describe())

           Value       Sales
count  47.000000   46.000000
mean   51.744681  557.130435
std    29.050532  274.598584
min     2.000000  108.000000
25%    27.500000  339.000000
50%    54.000000  591.500000
75%    70.000000  767.500000
max    99.000000  992.000000